numpy
scipy
opencv-python

seaborn
pandas
matplotlib

scikit-learn
scikit-image
catboost
optuna
statsmodels

transformers
datasets
evaluate
accelerate

albumentations
nlpaug

tqdm
einops
termcolor

pygwalker
mlxtend
kaggle
streamlit

xlrd
# PyMC
arviz

graphviz
psutil
imageio
pyglet
requests
editdistance

atari-py
gymnasium
gymnasium[box2d]
gymnasium[atari]
gymnasium[all]
