# general
numpy
scipy
opencv-python

# graphs
seaborn
pandas
polars
matplotlib
plotly

# general dl (in addition to pytorch default docker)

# simple models
scikit-learn
scikit-image
catboost
optuna
statsmodels

# optimization

transformers
datasets
evaluate
accelerate
tensorboard

albumentations
nlpaug
sentencepiece
librosa

tqdm
einops
termcolor

pygwalker
mlxtend
kaggle
streamlit

xlrd
# PyMC
arviz

graphviz
psutil
imageio
pyglet
requests
editdistance

# nlp
nltk
# gensim
bokeh

# cv

# formatters etc.
black
flake
ruff
flake8
autopep8
isort

# jupyter
# nbconvert[webpdf]
# ipykernel

# more unsorted stuff
pytest
